version: '3.6'
#
services:
  irissvc:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: irispg
    restart: always
    
    ports:
    # superserver default port 
    - "51779:1972"
    # webserver/management portal port
    - "52779:52773"
    
    environment:
    - TZ=JST-9